asgiref==3.8.1
decouple==0.0.7
dj-database-url==2.2.0
Django==5.1
django-environ==0.11.2
# environ==1.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
sqlparse==0.5.1
typing_extensions==4.12.2
gunicorn==20.0.4
uvicorn==0.15.0
whitenoise


#pip install -r requirements.txtで全てインストールできる