
{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>  <!--ページの仕様を記述する場所 -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CanDo</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="{% static 'todo/css/reset.css' %}">
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'todo/css/style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
</head>



<body>
    <div class="login-form">
        <h1>Login</h1>
        <form method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <label for="username">ユーザー名</label>
            <input type="text" name="username" id="username" required>

            <label for="password">パスワード</label>
            <input type="password" name="password" id="password" required>

            <button type="submit">Login</button>
        </form>
    </div>
    <div class="create-account">
        <p>まだアカウントをお持ちでないですか？</p>
        <a href="{% url 'accounts:signup' %}" class="btn-create-account">アカウント作成</a> <!-- 'signup' を登録ページのURL名に変更してください -->
    </div>
</body>